.transaction.table-main {
    border-collapse: collapse;
}

.transaction.table-main thead {
    background-color: var(--main-bg);
    color: var(--main-color-red);
    text-transform: capitalize;
}

.transaction.table-main th,
.transaction.table-main td {
    padding: 5px 20px;
}

.transaction.table-main td {
    padding: 5px 20px;
}

.transaction .head-date {
    width: 5%;
}

.transaction .head-code {
    width: 10%;
}

.transaction .head-transtype {
    width: 7%;
}

.transaction .head-note {
    width: auto;
    text-align: left;
}

.transaction .head-weight {
    width: 5%;
}

.transaction .head-price {
    width: 7%;
}

.transaction.row-body:hover {
    transition: all 0.1s ease-out;
    cursor: pointer;
    background-color: var(--second-color-grey);
}

.transaction.row-body td {
    border: 0;
    border-top: 1px solid var(--second-color-grey);
}

.body-date {
    text-align: center;
    text-transform: capitalize;
}

.body-transtype {
    text-transform: capitalize;
    height: 100%;
}

.transtype-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transtype-color {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-font-white);
    border-radius: 50px;
    width: fit-content;
    padding: 2px 10px;
}

.transtype-color.sell {
    background-color: var(--main-color-red);
}

.transtype-color.buy {
    background-color: var(--main-color-yellow);
}

.transtype-color.change {
    background-color: var(--main-color-blue);
}

.body-weight,
.body-price {
    text-align: end;
}

