.report-page.page-background {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    max-height: 100vh;
}

.report-page.page-container {
    row-gap: 10px;
}

.container-create-pdf-button {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
}

.create-pdf-button {
    padding: 5px 10px;
    background-color: inherit;
    border: 2px solid var(--main-color-red);
    border-radius: 5px;
    color: var(--main-color-red);
    cursor: pointer;
}

.create-pdf-button:hover {
    background-color: var(--main-color-red);
    color: var(--main-font-white);
}

.create-pdf-button:active {
    transform: translateY(1px);
}

.report-page.page-flex {
    display: flex;
    width: 100%;
    gap: 10px;
}

.report-page.page-content {
    padding: 10px 20px;
}

.report-page.page-content.trans-stat {
    flex: 25%;
    display: flex;
    flex-direction: column;
}

.report-page.page-content.trans-chart-line {
    flex: auto;
    display: flex;
    justify-content: center;
}

.report-page.page-content.trans-chart-doughnut {
    flex: auto;
    display: flex;
    justify-content: center;
}

.report-page.page-content.trans-value {
    flex: 33%;
    display: flex;
    flex-direction: column;
}

.trans-stat.header {
    color: var(--second-font-grey);
    font-size: 16px;
    text-align: left;
    margin: 0;
}

.trans-stat.value {
    font-size: 30px;
    text-align: center;
}

.trans-stat.today {
    font-size: 16px;
    text-align: center;
}

.today-value {
    color: var(--main-color-green);
}

.trans-value.header {
    color: var(--second-font-grey);
    font-size: 16px;
    text-align: left;
    margin: 0;
}

.trans-value.cost {
    display: flex;
    align-items: baseline;
    column-gap: 10px;
}

.trans-value.cost > .value {
    font-size: 30px;
}

.checking-result.modal-bg {
    opacity: 0;
    pointer-events: none;
    box-sizing: border-box;
    padding: 1em 5em;
}

.checking-result.modal-bg.active {
    opacity: 1;
    pointer-events: all;
}

.checking-result.page-content {
    transition: all 0.35s ease-out;
    transform: translateY(100px);
    opacity: 0;
    width: 100%;
    height: 100%;
}

.checking-result.page-content.active {
    transform: translateY(0);
    opacity: 1;
}

.checking-result.page-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid var(--second-color-grey);
    height: 5%;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .report-page.page-background {
        max-width: calc(100vw - var(--sidenav-short-width));
    }
}

@media screen and (max-width: 500px) {
    .report-page.page-background {
        max-width: 100%;
    }
}