.inventory-page-backtotop {
    position: fixed;
    bottom: 20px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third-color-red);
    color: var(--main-font-white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
    pointer-events: none;
    scroll-behavior: smooth;
}

.inventory-page-backtotop.active {
    opacity: 0.5;
    pointer-events: all;
}

.inventory-page-backtotop:hover {
    background-color: var(--main-color-red);
    opacity: 1;
}

@media screen and (max-width: 500px) {
    .inventory-page-backtotop {
        bottom: calc(var(--bottomnav-height) + 20px);
    }
}