.addgood-query {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.query-result {
    margin-top: 20px;
}

.query-result-container.active {
    display: flex;
    flex-direction: column;
    border: solid 2px var(--second-color-grey);
    border-radius: 10px;
    padding: 10px;
    max-height: 95vh;
}

.query-result-container {
    display: none;
}

.result-count {
    padding-left: 10px;
    text-transform: capitalize;
    font-size: 16px;
}

.query-result-table {
    width: 100%;
    border-radius: 10px;
    max-height: 50%;
    overflow-y: auto;
    flex: 1;
}

.query-result-table thead {
    position: sticky;
    top: 0;
}

table, th, td {
    border-collapse: collapse;
}

.query-result-table .table-header {
    background-color: var(--main-color-red);
    color: var(--main-font-white);
}

.query-result-table .table-header th {
    padding: 10px;
}

.table-header-picture {
    width: 15%;
}

.table-header-code {
    width: 15%;
}

.table-header-type {
    width: 12%;
}

.table-header-detail {
    width: auto;
}

.table-header-weight {
    width: 8%;
}

.add-query.table-weight-unit {
    color: var(--main-font-white);
    border-color: var(--main-font-white);
}

.table-header-goldPercent {
    width: 8%;
}

.table-header-goldSmithFee {
    width: 10%;
}

.query-result-table .table-body {
    transition: all 0.1s ease-out;
    cursor: pointer;
}

.query-result-table .table-body:hover {
    background-color: var(--red-bg);
}

.query-result-table .table-body td {
    padding: 5px;
}

.query-result-table .table-body.highlight {
    background-color: var(--third-color-red);
    color: var(--main-font-white);
}

.query-result-table .table-body .body-value {
    text-align: end;
}

.form-add-by-query {
    margin-top: 10px;
    display: none;
}

.form-add-by-query.active {
    display: block;
}


.button-save {
    background-color: var(--main-color-red);
    border: solid 2px var(--main-color-red);
    border-radius: 10px;
    width: 150px;
    height: 40px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    margin: 0 20px 0 0;
}

.button-save:hover {
    background-color: var(--second-color-red);
    border-color: var(--second-color-red);
}

.button-reset {
    background-color: var(--main-bg);
    border: solid 2px var(--main-color-yellow);
    border-radius: 10px;
    width: 150px;
    height: 40px;
    color: var(--main-color-yellow);
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
}

.button-reset:hover {
    background-color: var(--main-color-yellow);
    color: white;
}

@media screen and (max-width: 650px) {

    .form {
        max-width: 100vw;
    }

    .label {
        display: grid;
        grid-template-columns: 90% 10%;
    }

    .label > span {
        flex-basis: 0;
        text-align: start;
        grid-column: 1 / span 2;
    }

    .label.input-weight {
        grid-template-columns: 60% 30% 10%;
    }

    .label.input-weight > span {
        grid-column: 1 / span 3;
    }

    .inputbox {
        width: 100%;
    }

    .select-type select {
        width: 100%;
    }

    .inputbox.weight-value {
        width: 100%;
    }

    .label.input-weightUnit {
        grid-template-columns: 100%
    }

    .label.input-weightUnit > span {
        display: none;
    }

    .select-weightUnit select {
        width: 100%;
    }

    .label.input-button {
        display: flex;
    }
}