:root {
    --main-bg: #ffffff;
    --second-bg: #F6F6F6;

    --main-color-red: #B93030;
    --second-color-red: #831818;
    --third-color-red: #dc6969;
    --fourth-color-red: #ff0f0f;

    --main-color-yellow: #FCA311;

    --main-font-black: #000;
    --main-font-grey: #555;
    --second-font-grey: #bbbbbb;

    --sidenav-width: 200px;
    --sidenav-short-width: 60px;

    --bottomnav-height: 8vh;

    --container-shadow: 0 0 5px #D7D7F1;
}

body {
    font-family: 'Prompt', sans-serif;
}
