.sell-transaction.page-background {
    flex-direction: column;
}

.sell-transaction.page-header {
    justify-content: center;
    padding-left: 0 !important;
    margin-bottom: 10px;
}

.sell-transaction.page-container.query-state {
    display: grid !important;
    grid-template-columns: 30% auto;
    grid-template-rows: auto;
    gap: 10px;
}

.sell-transaction.page-content {
    flex-direction: column;
    padding: 20px;
}

.sell-transaction.page-content.query-input {
    grid-column: 1;
    grid-row: 1;
    height: fit-content;
}

.query-form.hide {
    display: none;
}

.sell-transaction .inputbox {
    display: flex;
    width: 100%;
    height: 35px;
    font-size: 15px;
    font-weight: 400;
    outline: none;
}

.sell-transaction.select-type select {
    width: 100%;
}

.sell-transaction .select-weightUnit select {
    width: 100%;
}

.sell-transaction .select-weightUnit {
    margin-top: 2px;
}

.sell-transaction.button-search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg);
    color: var(--main-color-red);
    border: 2px solid var(--main-color-red);
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    width: 100%;
    height: auto;
    padding: 5px;
    margin-top: 20px;
    transition: 0.2s, transform 0s;
}

.sell-transaction.button-search:hover {
    background-color: var(--main-color-red);
    color: var(--main-font-white);
}

.sell-transaction.button-search:active {
    transform: translateY(2px);
}

.button-expand.hide {
    display: none;
}

.sell-transaction.page-content.query-result-table {
    grid-column: 2;
    grid-row: 1 / span 2;
    max-height: 88vh;
}

.sell-transaction.page-content .query-table {
    overflow-y: auto;
}

.sell-transaction.page-content .query-table > table {
    width: 100%;
    height: 100%;
}

.sell-transaction.page-content .query-table thead {
    background-color: var(--main-color-red);
    color: var(--main-font-white);
    text-transform: capitalize;
    position: sticky;
    top: 0;
}

.sell-transaction.page-content .query-table th,
.sell-transaction.page-content .query-table td {
    padding: 5px;
}

.sell-transaction.page-content .query-table td {
    border: 1px solid var(--second-color-grey);
}

.query-table .table-weight-unit {
    color: var(--main-font-white);
    border-color: var(--main-font-white);
}

.sell-transaction.table-row {
    cursor: pointer;
    border-bottom: 1px solid var(--second-color-grey);
}

.sell-transaction.table-row:hover {
    background-color: var(--red-bg);
}

.sell-transaction.table-row.highlight {
    background-color: var(--third-color-red);
    color: var(--main-font-white);
}

.query-table .head-picture {
    width: 10%;
}

.query-table .head-id {
    width: 10%;
}

.query-table .head-code {
    width: 10%;
}

.query-table .head-type {
    width: 10%;
}

.query-table .head-detail {
    width: 20%;
}

.query-table .head-weight {
    width: 7%;
}

.query-table .head-gold-percent {
    width: 7%;
}

.query-table .head-gold-smith-fee {
    width: 7%;
}

.query-table .head-note {
    width: auto;
}

.sell-transaction.page-content .query-table .body-picture {
    text-align: center;
}

.sell-transaction.page-content .query-table .body-value {
    text-align: end;
}

.sell-transaction.page-content.query-select {
    display: none;
    grid-column: 1;
    grid-row: 2;
}

.sell-transaction.page-content.query-select.active {
    display: flex;
}

.select-result {
    text-transform: capitalize;
    font-size: 16px;
}

.sell-transaction.gold-price {
    display: flex;
    column-gap: 10px;
    align-items: center;
    width: 100%;
}

.sell-transaction.gold-price .inputbox {
    width: 48%;
    min-width: min-content;
}

.sell-transaction.gold-price .gold-price-range {
    width: 2%;
    text-align: center;
}

.inputbox.note {
    resize: none;
    padding: 5px 10px;
    height: auto;
    font-size: 17px;
}