.employee-background {
    background-color: var(--second-bg);
    min-height: 100vh;
}

.employee-page-header {
    display: flex;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    height: 50px;
    text-transform: capitalize;
    text-align: center;
}

.employee-page-container {
    display: flex;
    box-sizing: border-box;
    background-color: var(--main-bg);
    border-radius: 5px;
    margin: 1%;
    min-height: 90vh;
    box-shadow: var(--container-shadow);
}